@import '../../styles//variable.module.scss';

.root {
  background: $background;
}

.container {
  max-width: 1145px;
  padding-top: 84px;
  padding: 84px 15px 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1067px) {
    justify-content: center;
  }

  @media (max-width: 425px) {
    gap: 32px;
  }
}

.content {
  max-width: 570px;
  min-height: 433px;

  h1 {
    color: $black-color;

    text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .contentText {
    margin-top: 32px;
    max-width: 469px;

    color: $grey1-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.info {
  margin-top: 32px;
  padding: 16px 27px;

  max-width: 469px;
  min-height: 80px;
  border-radius: 58px;
  background: $white-color;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .locationContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;

    p {
      color: $grey1-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .locationText {
    margin-top: 6px;

    color: $black-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.search {
  width: 48px;
  height: 48px;
  background: $primary-color;
  border-radius: 9000px;

  @include flexCenter;
}
