@import '../../styles/variable.module.scss';

.main {
  padding-top: 120px;
  background: $background;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @include titleRed;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.mainTitle {
  max-width: 591px;
  @include mainTitle;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.tourContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width: 780px) {
    justify-content: center;
  }
}
