@import '../../styles/variable.module.scss';

.main {
  padding-top: 120px;
  padding-bottom: 30px;
  background: $background;
}

.row {
  max-width: 200px;
}

.footerContainer {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 120px;

  @media (max-width: 425px) {
    margin: 0 auto;
    padding: 0 120px;

    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 30px;
  }
}

.title {
  @include footerTitle;
}

.text {
  @include footerText;
}

.iconContainer {
  margin-top: 18px;
  max-width: 96px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
