//color
$black-color: #112b3c;
$grey1-color: #808080;
$grey2-color: #fafafa;
$primary-color: #e61c5d;
$secondary-color: #ffbd39;
$white-color: #ffffff;

//background
$background: #f5f4f4;

//mixins

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin titleRed() {
  color: $primary-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

@mixin mainTitle() {
  color: $black-color;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
