//color
$black-color: #112b3c;
$grey1-color: #808080;
$primary-color: #e61c5d;
$white-color: #ffffff;

//background
$background: #f5f4f4;

//mixins

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
